
header, footer > div > p {
  background-color: #D3BDB0;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000000;
  padding: 10px 0;
}

h1 {
  font-size: 42px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 20px;
}

body {
  background-color: #E8DBC5;
  color: #000000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

p {
  text-align: left;
  padding: 15px 20px; /* to protect text from border*/
  line-height: 25px;
}

main > div > article > img {
  padding: 15px 0; /*style choice to space out containers*/
}

hr {
  background-color: #725E54;
  height: 1px;
  margin: 0 40px;
}

a:link {
  color: #463A34;
}
a:visited {
  color: #463A34;
}
a:hover {
  color: #2F2723;
}
a:active {
  color: #52443D;
}

a::before {
  content: "<<";
  color: #000000;
}

a::after {
  content: ">>";
  color: #000000;
}

ul {
  line-height: 25px;
  text-align: left;
}

ol  {
  text-align: left;
  line-height: 35px;
}


.button {
  font-size: 16px;
  color: #000000;
  text-align: center;
  padding: 5px;
  margin: 10px 15px;
  background-color: #D3BDB0;
  border-radius: 10px;
}


